<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Users page</title>
    </head>
    <body>
        <h1>Users:</h1>
        <table>
            <thead>
                <tr><th>Firstname</th><th>Lastname</th><th></th><th></th></tr>
            </thead>
            <tbody>
                <% users.forEach(function(el, index) { %>
                    <tr>
                        <input type="hidden" name="id" value="<%= el.id %>">
                        <td>
                            <%= el.firstname %>
                        </td>
                        <td>
                            <%= el.lastname %>
                        </td>
                        <td>
                            <a href="/edit?id=<%= el.id %>">Edit</a>
                        </td>
                        <td>
                            <a href="/remove?id=<%= el.id %>">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <br>
        <form method="post" action="/users">
            <input type="text" value="" name="firstname">
            <input type="text" value="" name="lastname">
            <input type="submit" value="Add">
        </form>
    </body>
</html>