<!DOCTYPE html>
<html lang="en" ng-app="usersApp">
<head>
    <meta charset="utf-8">

    <title>Bower crud</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="dist/all.min.js"></script>
</head>
<body ng-controller="usersController">

<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>
                <span ng-controller="editUserController" class="glyphicon glyphicon-edit" ng-click="getUser(user)"></span>
                <span ng-controller="removeUserController" class="glyphicon glyphicon-remove" ng-click="removeUser(user)"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" ng-click="addUser()">
        Add user
    </button>

    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editModalLabel">Add new user</h4>
                </div>
                <div class="modal-body" id="userForm" ng-controller="saveUserController">

                    <form ng-submit="submit()">
                        <div class="form-group">
                            <label for="firstname">First name</label>
                            <input type="text" class="form-control" id="firstname" ng-model="user.firstname" name="firstname" value="{{ user.firstname }}" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last name</label>
                            <input type="text" class="form-control" id="lastname" ng-model="user.lastname" value="{{ user.lastname }}" name="lastname" required>
                        </div>
                        <input type="hidden" id="userId" ng-model="id" name="id" value="{{ user.id }}">
                        <button type="submit" class="btn btn-default">Save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>