<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Edit user</title>
    </head>
    <body>
        <h1>Edit User:</h1>
        <table>
            <thead>
                <tr><th>Firstname</th><th>Lastname</th><th></th><th></th></tr>
            </thead>
            <tbody>
                <% users.forEach(function(el, index) { %>
                    <tr>
                    <form method="post" action="/update">
                        <input type="hidden" name="id" value="<%= el.id %>">
                        <td>
                            <input type="text"  name="firstname" value='<%= el.firstname %>'>
                        </td>
                        <td>
                            <input type="text"  name="lastname" value='<%= el.lastname %>'>
                        </td>
                        <td><input type="submit" value="Update"></td>
                    </form>
                <% }); %>
            </tbody>
        </table>
    </body>
</html>